.content {
  box-sizing: border-box;
  width: 100%;
  padding: 1em 0;
}

.chart {
  width: 100%;
}

.control {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}