@media (min-width: 1600px) {
  :host {
    width: 50%;
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

.chart {
  width: 100%;
}

.control {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}