mat-dialog-content {
  display: flex;
  flex-direction: column;

  .command {
    display: flex;
    flex-direction: row;

    .cmd-line {
      flex: 1;
    }
  }

  .result {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: row;

    .node-select {
      overflow: auto;

      .selected {
        background-color: #fafafa;
      }

      tr:hover {
        cursor: pointer;
      }

      td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
        padding-right: 0.5em;
      }
    }

    .output {
      flex: 1;
      overflow: auto;
      margin-left: 1em;

      pre {
        box-sizing: border-box;
        height: 100%;
        padding: 1em;
        margin: 0;
        background-color: black;
        color: white;
        overflow: auto;
      }

      .error {
        color: red;
      }
    }
  }

  .progress {
    margin: 1em 0 0;
  }
}

mat-dialog-actions {
  justify-content: flex-end;
}