<div class="row">
  <div class="col">
    <div class="space"></div>
    <form [formGroup]="userCred" (ngSubmit)="login()" class="container">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required autofocus />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
        <mat-icon matSuffix (click)="togglePassword()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" [disabled]="!userCred.valid">Login</button>

      <p class="error" *ngIf="error">
        <span>{{error}}</span>
      </p>

      <p class="note">
        Note: For best user experience, Chrome and Firefox are recommended. You may experience problems using other browsers.
      </p>
    </form>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</div>

<app-progress-spinner></app-progress-spinner>