<div class="content">
  <div class="control">
    <mat-form-field>
      <mat-label>{{metricLabel}}</mat-label>
      <mat-select [(value)]="selectedMetric">
        <mat-option *ngFor="let metric of metrics" [value]="metric.Name">{{metric.DisplayName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button [disabled]="!selectedMetric" (click)="addChart(selectedMetric)">Add Chart</button>
  </div>
  <div class="charts">
    <ng-template #chart></ng-template>
  </div>
</div>