<div class="app" [ngClass]="appClass" *ngIf="authenticated; else guestView">
  <mat-toolbar class="header" color="primary">
    <button mat-icon-button (click)="nav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">HPC Pack 2019</span>
    <app-breadcrumb class="item"></app-breadcrumb>
    <span class="toolbar-spacer"></span>
    <button class="item username" mat-button [matMenuTriggerFor]="usermenu">{{username}}</button>
  </mat-toolbar>

  <mat-sidenav-container class="body">
    <mat-sidenav #nav mode="side" opened="true">
      <mat-nav-list>
        <a *ngFor="let item of navItems" class="nav-list" mat-list-item routerLinkActive="active" [routerLink]="item.link">
          <i class="material-icons nav-icon">{{item.icon}}</i>
          <span class="title">{{item.title}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #usermenu="matMenu">
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>

<ng-template #guestView>
  <div class="app">
    <mat-toolbar class="header" color="primary">
      <span class="title">HPC Pack 2019</span>
    </mat-toolbar>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
