.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.body {
  flex: 1;
}

.header {
  .toolbar-spacer {
    flex: 1;
  }

  .item {
    margin-left: 1em;
    font-size: 0.8em;
  }
}

.nav-icon {
  margin-right: 0.5em;
  font-size: 1.1em;
}

mat-nav-list a.active {
  background-color: #fafafa;
  color: #3f51b5;
}

