.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
See https://stackoverflow.com/questions/41421512/why-does-flex-box-work-with-a-div-but-not-a-table
for why a table container is required and why the table has to be absolute-positioning relative to its container.
*/
.table-container {
  flex: 1;
  min-height: 0;
  overflow: auto;
  width: 100%;
  position: relative;
}

table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.mat-column-Select mat-checkbox {
  margin-right: 2em;
}