h2 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row wrap;
}

.subtitle {
  font-size: 60%;
  font-weight: normal;
}

mat-dialog-actions {
  justify-content: flex-end;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

/*
See https://stackoverflow.com/questions/41421512/why-does-flex-box-work-with-a-div-but-not-a-table
for why a table container is required and why the table has to be absolute-positioning relative to its container.
*/
.table-container {
  flex: 1;
  min-height: 60vh;
  min-width: 70vw;
  overflow: auto;
  width: 100%;
  position: relative;

  table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    td.mat-cell, th.mat-header-cell {
      padding: 0 2px;
    }
  }
}

mat-progress-bar {
  margin: 1em 0;
}