.container {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.node {
  flex: 1;
  width: 50%;
  box-sizing: border-box;
}

.job {
  width: 100%;
  box-sizing: border-box;
}

.chart {
  padding: 2em;
}

:host-context(.app.small) .row {
  flex-direction: column;
}

:host-context(.app.small) .node {
  width: 100%;
}

:host-context(.app.small) .chart {
  padding: 0;
}