<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened="true" position="end">
    <div class="side-nav">
      <div class="side-nav-btn">
        <button mat-icon-button disableRipple="true" (click)="toggleActionList()"><mat-icon>{{toggleActionListIcon}}</mat-icon></button>
      </div>
      <mat-list [ngClass]="{'hidden': isActionListHidden}">
        <mat-list-item><button mat-button (click)="refresh()">Refresh Data</button></mat-list-item>
        <ng-container *ngIf="adminView">
          <mat-list-item><button mat-button [disabled]="anySelected" (click)="newGroup()">New...</button></mat-list-item>
          <mat-list-item><button mat-button [disabled]="!canEdit" (click)="editGroup()">Edit...</button></mat-list-item>
          <mat-list-item><button mat-button [disabled]="!canDelete" (click)="deleteGroups()">Delete</button></mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div class="table-container" #tableContainer>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="masterToggle()"
                          [checked]="masterChecked"
                          [indeterminate]="masterIndeterminate">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="selection.toggle(row)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
          <td mat-cell *matCellDef="let row">
            <a *ngIf="column.name == 'Name'; else text" [routerLink]="['..']" [queryParams]="{group: row[column.name]}">{{row[column.name]}}</a>
            <ng-template #text>{{row[column.name]}}</ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
  </mat-sidenav-content>
</mat-sidenav-container>
